@model IEnumerable<MyTeam.Data.BEANS.TeamMemberBEAN>

@{
    ViewBag.Title = "Team Members";
}

<div class="container body-content">

    <div class="row">
        <h1 class="text-center">@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Tutor Dashboard / Team Members</h4>
    </div>

    <p>
        Select a project below to view the individual statistics of a student for a project.
    </p>

    <table class="table">
        <tr>
            <th>
                Members
            </th>
            <th>
                Project
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @using (Html.BeginForm("StudentStats", "Tutor"))
                    {
                        @Html.DropDownList("project", (IEnumerable<SelectListItem>)ViewBag.ProjectList, "Select...", new { @class = "form-control", @onchange = "this.form.submit()" })
                        @Html.Hidden("student", item.userID)
                    }
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Back to Tutor Dashboard", "Index", "Tutor")
    </div>

</div>
