@model IEnumerable<MyTeam.Data.BEANS.TeamMemberBEAN>

@{
    ViewBag.Title = "Team Members";
}

<div class="container body-content">

    <div class="row">
        <h1 class="text-center">@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Tutor Dashboard / Team Members</h4>
    </div>

    <table class="table">
        <tr>
            <th>
                Members
            </th>
            <th>
                Project
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @*@Html.DropDownListFor(modelItem => item.projectList, (List<SelectListItem>)item.projectList, new { @class = "form-control" })*@
                    @*@Html.DropDownList("Projects", (IEnumerable<SelectListItem>)item.teamProjects, "Select...", new { @class = "form-control" })*@

                    @using (Html.BeginForm("StudentStats", "Tutor"))
                    {
                        @*@Html.DropDownList("projectID", (List<SelectListItem>)ViewBag.ProjectList)*@
                        @Html.DropDownList("project", (IEnumerable<SelectListItem>)ViewBag.ProjectList, "Select...", new { @class = "form-control", @onchange = "this.form.submit()" })
                        @Html.Hidden("student", item.userID)
                    }

                </td>
                <td>
                    @Html.ActionLink("Student Stats", "StudentStats", new { student = item.userID, controller = "Tutor" })
                </td>
            </tr>
        }

    </table>


   

    <div>
        @Html.ActionLink("Back to Tutor Dashboard", "Index", "Tutor")
    </div>

</div>
