@model IEnumerable<MyTeam.Data.TeamMember>

@{
    ViewBag.Title = "Team Members";
}

<div class="container body-content">
    <div class="row">
        <h1>Team Members</h1>
    </div>

    <div class="row">
        <h4>Hi @User.Identity.Name</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Tutor", "Index", "Tutor") / Team Members</h4>
    </div>

    <table class="table">
        <tr>
            <th>
                Members
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FK_Member)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Back to List", "Index", "Tutor")
    </div>

</div>
