@model IEnumerable<MyTeam.Data.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("New Project", "addProject", "Project")
</p>
<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "getWorkTasks", new { project = item.PK_ProjectID, controller = "WorkTask" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Edit", "editProject", new { id = item.PK_ProjectID }) |
                @Html.ActionLink("Details", "getProject", new { id = item.PK_ProjectID }) |
                @Html.ActionLink("Delete", "deleteProject", new { id = item.PK_ProjectID }) |
                @Html.ActionLink("Add Work Task", "addWorkTask", new { controller = "WorkTask", FK_Project = item.PK_ProjectID })
            </td>
        </tr>
    }

</table>
