@model IEnumerable<MyTeam.Data.Project>

@{
    ViewBag.Title = "Projects";
}

<div class="container body-content">
    <div class="row">
        <h1>Projects</h1>
    </div>

    <div class="row">
        <h4>Hi @User.Identity.Name</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Teams", "Index", "Team") / Projects</h4>
        <a class="pull-right new-item" href="@Url.Action("Create", "Project")">New Project<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>

    <div class="row">
        <p>Select a project below to view it's tasks.</p>
    </div>

    @foreach (var item in Model)
    {
        <div class="row project">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center pr-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p class="text-center pr-description">@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-md-offset-2 pr-details">
                        <p>Date Started: <strong>@Html.DisplayFor(modelItem => item.StartDate)</strong></p>
                        <p>Date Finished: <strong>@Html.DisplayFor(modelItem => item.EndDate)</strong></p>
                        <p>Status: <strong>@Html.DisplayFor(modelItem => item.Status)</strong></p>
                        <p>Percentage Completed: <strong>@Html.DisplayFor(modelItem => item.PercentageCompleted)%</strong></p>
                        <p>Days Due: <strong>@Html.DisplayFor(modelItem => item.Duration)</strong></p>
                    </div>
                    <div class="col-md-4 pr-actions">
                        <a class="pull-right" href="@Url.Action("Edit", new { id = item.Id, controller = "Project" })"><span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span></a>
                        <a class="pull-right" href="@Url.Action("Delete", new { id = item.Id, controller = "Project" })"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span></a>
                        <a class="pull-right" href="@Url.Action("Add", new { team = item.FK_Team, project = item.Id, controller = "Task" })"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Task</a>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <a href="@Url.Action("Index", new { id = item.Id, controller = "Task" }) " class="btn btn-primary btn-tasks">Tasks</a>
            </div>

        </div>
    }
</div>
