@model MyTeam.Data.WorkTask

@{
    ViewBag.Title = "Work Task Details";
}

<h2>Work Task Details</h2>

<div>
    <h4>WorkTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "editWorkTask", "WorkTask", new { id = Model.PK_WorkTaskID }) |
    @Html.ActionLink("Back to List", "Tasks", new { controller = "WorkTask", PK_ProjectID = Model.FK_Project })
</p>
