@model IEnumerable<MyTeam.Data.Task>

@{
    ViewBag.Title = "Tasks";
}

<div class="container body-content">

    <div class="row">
        <h1 class="text-center">@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Teams / Projects / Tasks</h4>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="task">
                    <div class="col-md-12">
                        <h3 class="text-center ta-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p class="text-center ta-description">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>

                    <div class="col-md-12">
                        <div class="ta-details">
                            <p>Assigned To: <strong class="pull-right">@Html.DisplayFor(modelItem => item.FK_AssignedTo)</strong></p>
                            <p>Date Started: <strong class="pull-right">@Html.DisplayFor(modelItem => item.StartDate)</strong></p>
                            <p>Date Due: <strong class="pull-right">@Html.DisplayFor(modelItem => item.EndDate)</strong></p>
                            <p>Current Status: <strong class="pull-right">@Html.DisplayFor(modelItem => item.Status)</strong></p>
                            <p>Percentage Completed: <strong class="pull-right">@Html.DisplayFor(modelItem => item.PercentageCompleted)%</strong></p>
                            <p>Estimated Hours Required: <strong class="pull-right">@Html.DisplayFor(modelItem => item.EstimatedDuration)</strong></p>
                            <p>Duration: <strong class="pull-right">@Html.DisplayFor(modelItem => item.Duration)</strong></p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="pr-actions">
                            <a class="" href="@Url.Action("Edit", new { id = item.Id, controller = "Task" })"><span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Edit"></span></a>
                            <a class="" href="@Url.Action("Delete", new { id = item.Id, controller = "Task" })"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Delete"></span></a>
                        </div>
                    </div>

                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Evaluations", new { id = item.Id })" class="btn btn-primary btn-tasks">Evaluations</a>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="@Url.Action("Evaluate", "Task", new { id = item.Id })" class="btn btn-primary btn-tasks">Evaluate</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
