@model MyTeam.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FK_Member1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FK_Member10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FK_Member10)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
