@{
    ViewBag.Title = "Add Role";
}

<div class="container body-content">

    <div class="row">
        <h1>Add Role</h1>
    </div>

    <div class="row">
        <h4>Hi user</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Control Panel", "ControlPanel", "Admin") / @Html.ActionLink("Roles", "Roles", "Admin") / Add Role</h4>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>Role Name</div>
        <p>@Html.TextBox("RoleName")</p>
        <input class="btn btn-primary" type="submit" value="Save" />
    }

</div>
