@{
    ViewBag.Title = "Manage User Roles";
}

<div class="container body-content">

    <div class="row">
        <h1>Manage User Roles</h1>
    </div>

    <div class="row">
        <h4>Hi user</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Control Panel", "ControlPanel", "Admin") / @Html.ActionLink("Roles", "Roles", "Admin") / Manage User Roles</h4>
    </div>

    @using (Html.BeginForm("ManageUserRoles", "Admin"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            User UserName: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...")
            Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select...")
        </p>
        <input class="btn btn-primary" type="submit" value="Save" />
    }

</div>
