@model IEnumerable<MyTeam.Models.ApplicationUser>

@{
    ViewBag.Title = "Role Users";
}

<div class="container body-content">

    <div class="row">
        <h1 class="text-center">@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Admin Control Panel / Manage Roles / Roles Users</h4>
        <a class="pull-right new-item" href="@Url.Action("AddUserToRole", "Admin")">New User<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <a href="@Url.Action("RemoveUserFromRole", new { userId = item.Id, roleId = ViewBag.roleId, controller = "Admin" })"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Remove User from Role"></span></a>
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Back to Admin Control Panel", "Index")
    </div>

</div>
