@{
    ViewBag.Title = "Roles";
}

<div class="container body-content">

    <div class="row">
        <h1>Roles</h1>
    </div>

    <div class="row">
        <h4>Hi user</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Control Panel", "ControlPanel", "Admin") / @Html.ActionLink("Roles", "Roles", "Admin")</h4>
        <a class="pull-right new-item" href="@Url.Action("AddRole", "Admin")">New Role<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>

    <ul class="list-group">
        @foreach (var role in Model)
        {
            <li class="list-group-item">
                @role.Name |
                @Html.ActionLink("Edit", "EditRole", new { Id = role.Id }) |
                @Html.ActionLink("Delete", "DeleteRole", new { Id = role.Id })
            </li>
        }
    </ul>

</div>
