@{
    ViewBag.Title = "User Roles";
}

<div class="container body-content">

    <div class="row">
        <h1>User Roles</h1>
    </div>

    <div class="row">
        <h4>Hi user</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Control Panel", "ControlPanel", "Admin") / @Html.ActionLink("Roles", "Roles", "Admin") / User Roles</h4>
        <a class="pull-right new-item" href="@Url.Action("ManageUserRoles", "Admin")">Manage User Roles<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            User UserName: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select...")
            <input type="submit" value="See User Roles" />
        </p>
    }

</div>
