@{
    ViewBag.Title = "User Roles Confirmed";
}

<div class="container body-content">

    <div class="row">
        <h1>User Roles Confirmed</h1>
    </div>

    <div class="row">
        <h4>Hi user</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Control Panel", "ControlPanel", "Admin") / @Html.ActionLink("Roles", "Roles", "Admin") / @Html.ActionLink("User Roles", "UserRoles", "Admin") / User Roles Confirmed</h4>
        <a class="pull-right new-item" href="@Url.Action("ManageUserRoles", "Admin")">Add Roles Assosiation<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>

    <h2>Roles for this user are:</h2>
    
    @if (ViewBag.RolesForThisUser != null)
    {
        <div>
            <ol class="list-group">
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li class="list-group-item">@s</li>
                }
            </ol>
        </div>
    }

</div>
