@model IEnumerable<MyTeam.Data.Evaluation>

@{
    ViewBag.Title = "Tutor - Task Evaluations";
}

<div class="container body-content">
    <div class="row">
        <h1>Tutor - Task Evaluations</h1>
    </div>

    <div class="row">
        <h4>Hi @User.Identity.Name</h4>
    </div>

    <div class="row">
        <h4>Evaluations</h4>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
            </tr>
        }

    </table>

    <h2>Statistics</h2>
    <p>Average Mark: <strong>@ViewBag.averageMark</strong></p>
    <p>Highest Mark: <strong>@ViewBag.highestMark</strong></p>
    <p>Lowest Mark:  <strong>@ViewBag.lowestMark</strong></p>

    <div>
        @Html.ActionLink("Back to Teams List", "Index", "Tutor")
    </div>

</div>
