@model IEnumerable<MyTeam.Data.Task>

@{
    ViewBag.Title = "Tutor - Team Tasks";
}

<div class="container body-content">

    <div class="row">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Tutor Dashboard / Team Projects / Project Tasks</h4>
    </div>

    <table class="table">
        <tr>
            <th>
                Student
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FK_AssignedTo)
                </td>
                <td>
                    <a href="@Url.Action("Evaluations", new { id = item.Id, controller = "Tutor" })" data-toggle="tooltip" data-placement="right" title="View task's evaluations">@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentageCompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
            </tr>
        }
    </table>

    <div>
        @Html.ActionLink("Back to Tutor Dashboard", "Index", "Tutor")
    </div>

</div>
