@model IEnumerable<MyTeam.Data.Team>

<div class="container body-content">
    <div class="row">
        <h1>Teams</h1>
    </div>

    <div class="row">
        <h4>Hi Tutor</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Dashboard", "Dashboard", "Tutor") / Teams</h4>
        <a class="pull-right new-item" href="@Url.Action("addTeam", "Tutor")">New Team<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>

    <div class="row">
        <p>Select a team below to view it's projects.</p>
    </div>


    @foreach (var item in Model)
    {
        <div class="row team">
            <h5>Team Name</h5>
            <ul class="list-group">
                <li class="list-group-item">Member 1: <strong>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.Lastname)</strong></li>
                <li class="list-group-item">Member 2: <strong>@Html.DisplayFor(modelItem => item.User1.FirstName) @Html.DisplayFor(modelItem => item.User1.Lastname)</strong></li>
                <li class="list-group-item">Member 3: <strong>@Html.DisplayFor(modelItem => item.User2.FirstName) @Html.DisplayFor(modelItem => item.User2.Lastname)</strong></li>
                <li class="list-group-item">Member 4: <strong>@Html.DisplayFor(modelItem => item.User3.FirstName) @Html.DisplayFor(modelItem => item.User3.Lastname)</strong></li>
                <li class="list-group-item">Member 5: <strong>@Html.DisplayFor(modelItem => item.User4.FirstName) @Html.DisplayFor(modelItem => item.User4.Lastname)</strong></li>
                <li class="list-group-item">Member 6: <strong>@Html.DisplayFor(modelItem => item.User5.FirstName) @Html.DisplayFor(modelItem => item.User5.Lastname)</strong></li>
                <li class="list-group-item">Member 7: <strong>@Html.DisplayFor(modelItem => item.User6.FirstName) @Html.DisplayFor(modelItem => item.User6.Lastname)</strong></li>
                <li class="list-group-item">Member 8: <strong>@Html.DisplayFor(modelItem => item.User7.FirstName) @Html.DisplayFor(modelItem => item.User7.Lastname)</strong></li>
                <li class="list-group-item">Member 9: <strong>@Html.DisplayFor(modelItem => item.User8.FirstName) @Html.DisplayFor(modelItem => item.User8.Lastname)</strong></li>
                <li class="list-group-item">Member 10: <strong>@Html.DisplayFor(modelItem => item.User9.FirstName) @Html.DisplayFor(modelItem => item.User9.Lastname)</strong></li>
                @Html.ActionLink("View Team's Projects", "Details", new { id = item.PK_TeamID })
            </ul>
        </div>
    }


</div>