@{
    ViewBag.Title = "Create Role";
}

<div class="container body-content">

    <div class="row">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Admin Control Panel / Manage Roles / New Role</h4>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div>Enter new role name:</div>
        <p>@Html.TextBox("RoleName")</p>
        <input class="btn btn-primary" type="submit" value="Save" />
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
