@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Edit Role";
}

<div class="container body-content">

    <div class="row">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Admin Control Panel / Manage Roles / Edit Role</h4>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-4">Role Name</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div class="col-md-offset-4 col-md-8">
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
            </div>
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
