@{
    ViewBag.Title = "Roles";
}

<div class="container body-content">

    <div class="row">
        <h1 class="text-center">@ViewBag.Title</h1>
    </div>

    <div class="row">
        <h4 class="pull-left">Admin Control Panel / Manage Roles</h4>
        <a class="pull-right new-item" href="@Url.Action("Create", "RoleAdmin")">New Role<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </div>

    <p>
        Select a role below to view the users it contains.
    </p>
    <table class="table">
        <tr>
            <th>Role Name</th>
            <th>Role ID</th>
            <th></th>
        </tr>
        @foreach (var role in ViewBag.RolesList)
        {
            <tr>
                <td>@Html.ActionLink((string)role.Name, "RoleUsers", new { controller = "Admin", id = role.Id })</td>
                <td>@role.Id</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = role.Id })"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span></a>
                    <a href="@Url.Action("Delete", new { id = role.Id })"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></span></a>
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.ActionLink("Back to Admin Control Panel", "Index", "Admin")
    </div>

</div>
