@model IEnumerable<MyTeam.Data.Evaluation>

@{
    ViewBag.Title = "Evaluations";
}

<div class="container body-content">
    <div class="row">
        <h1>Evaluations</h1>
    </div>

    <div class="row">
        <h4>Hi @User.Identity.Name</h4>
    </div>

    <div class="row">
        <h4>@Html.ActionLink("Teams", "Index", "Team") / Projects / Tasks / Evaluations</h4>
    </div>

    <div class="row">
        <p>Select a project below to view it's tasks.</p>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
            </tr>
        }

    </table>
</div>
